body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.artifactAttr {
  background-color: aquamarine;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}
